// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";

.tableFixHead {
    overflow: auto;
    height: 550px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    padding: 8px 16px;
}
th {
    background: rgb(255, 255, 255);
}
