@import url(https://fonts.googleapis.com/css?family=Nunito);
.tableFixHead{height:550px;overflow:auto}.tableFixHead thead th{background-color:#fff;position:-webkit-sticky;position:sticky;top:0;z-index:1}table{border-collapse:collapse;width:100%}td,th{padding:8px 16px}th{background:#fff}
