.justify-content-center {
    justify-content: center !important;
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mt-1 {
    margin-top: 0.25rem !important;
}
.me-1 {
    margin-right: 0.25rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.ms-1 {
    margin-left: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}
.me-2 {
    margin-right: 0.5rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.ms-2 {
    margin-left: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}
.me-3 {
    margin-right: 1rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.ms-3 {
    margin-left: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}
.me-4 {
    margin-right: 1.5rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.ms-4 {
    margin-left: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}
.me-5 {
    margin-right: 3rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.ms-5 {
    margin-left: 3rem !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}
.pe-1 {
    padding-right: 0.25rem !important;
}
.pb-1 {
    padding-bottom: 0.25rem !important;
}
.ps-1 {
    padding-left: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}
.pe-2 {
    padding-right: 0.5rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.ps-2 {
    padding-left: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}
.pe-3 {
    padding-right: 1rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.ps-3 {
    padding-left: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}
.pe-4 {
    padding-right: 1.5rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.ps-4 {
    padding-left: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}
.pe-5 {
    padding-right: 3rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.ps-5 {
    padding-left: 3rem !important;
}

.map-responsive {
    overflow: hidden;

    padding-bottom: 56.25%;

    position: relative;

    height: 0;
}

.map-responsive iframe {
    left: 0;

    top: 0;

    height: 100%;

    width: 100%;

    position: absolute;
}
